/* entry模块 */
.entry {
  height: 500px;
  /* color: pink; 注意：color是字体，bg-color才是背景色*/
  background-color: #f5f5f5;
}

/* .w需要添加高度才能撑起来，为什么entry本身不能？ */
/* 因为entry的高度是由内容决定的，而.w是一个子元素，需要明确指定高度才能撑起来 */
.entry .w {
  position: relative;
  height: 100%;
  /* background: url(../uploads/banner1.png) no-repeat; */
}

/* background和background-color区别？：复合与单一属性 */
/* .w .category 都不用了，直接上.category  */
.category {
  position: absolute;
  top: 0;
  left: 0;
  /* 提高定位层级！ */
  z-index: 99;
  width: 250px;
  height: 500px;
  background: rgba(0, 0, 0, .42);
}

/* .category ul {
  height: 50px;
} */

/* 怎么给li撑起高度？需要用上面的，对ul添加高度。不能用display:block，因为需要flex
不对，可以直接对flex中加height，加了flex就自动加上了block */
.category ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 10px 0 20px;
  color: #fff;
}

.category ul li a {
  color: #fff;
  font-size: 14px;
}

.category ul li a:first-child {
  font-size: 16px;
  margin-right: 10px;
}

.category ul li:hover {
  background-color: #00BE9A;
}

.banner {
  position: relative;
}
.banner .circleDot {
  display: flex;
  gap: 16px;
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.banner .circleDot li {
  width: 14px;
  height: 14px;
  background-color: rgba(255, 255, 255, .5);
  border-radius: 50%;
}
/* 使用阴影效果实现扩散边框效果，避免抖动 */
.banner .circleDot li:hover{
  
  box-shadow: 0 0 0 4px rgba(255, 255, 255, .5);
  background-color: #fff;
}
/* 使用outline */
/* .banner .circleDot li:hover {
  outline: 4px solid rgba(255, 255, 255, .5);
  background-color: #fff;
} */


/* 优化，提取公共部分 */
.banner .prev,
.banner .next {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 60px;
  background-color: rgba(0, 0, 0, .5);
  /* 第一种方法：一半height */
  /* margin-top: -30px; */
  /* 第二种方法（更好）：transform */
  transform: translateY(-50%);
}
.banner .prev {
  left: 250px;
}
.banner .next {
  right: 0;
}

.banner .prev i,
.banner .next i {
  text-align: center;
  line-height: 60px;
  color: #fff;
  font-size: 35px;

  /* background-color: pink; */
}


/* 新鲜好物模块 */
.box-hd {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 112px;
  /* background-color: pink; */
}

/* 不写box-hd也行。下面那个同样如此 */
.box-hd h2 {
  font-size: 30px;
}

h2 small {
  font-size: 16px;
  color: #A1A1A1;
  margin-left: 30px;
}

.box-hd a {
  font-size: 16px;
  color: #A1A1A1;
}

.box-bd ul {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */

  border: 2px solid pink;
}

.box-bd ul li {
  width: 304px;
  height: 404px;
  background-color: #EEF9F4;
  text-align: center;

  border: 2px solid skyblue;
}
.box-bd ul li a {
  display: block;
  height: 100%;
}
.box-bd ul li img {
  width: 304px;
  height: 304px;
}
/* .title => h3 */
.box-bd ul li .title {
  margin: 18px 25px 18px;
  font-size: 20px;
  /* padding: 0 25px; 这个padding的效果可以有上面的margin实现。padding和margin使用区别？ */
  /* padding是内边距，margin是外边距 */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

li .price {
  font-size: 22px;
  color: #AA2113;
}
/* small标签会自动缩小。缩小多少？
自己设置，不然就是默认的80%
.box-bd ul li .price small {
  font-size: 18px;
} */

.hot .box-bd ul li {
  background-color: #fff;
}

.hot {
  margin-bottom: 60px;
}

/* 服饰模块 */
/* 头部 */
.cloHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 102px;
  padding-top: 10px;
  background-color: #fff;
}
.cloHead h2 {
  font-size: 30px;
}
.cloHead-right {
  display: flex;
  gap: 65px;
}
.cloHead-right a {
  font-size: 16px;
  color: #A1A1A1;
  /* 不能用a，会让所有a都有左边距。使用其他方法 */
  /* margin-left: 65px;  */
}


.cloHead-right ul {
  display: flex;
  gap: 10px;
  /* margin-right: 65px; 或者使用gap，见上一行 */

  border: 2px solid skyblue;
}
/* .cloHead-right ul li {
  margin-right: 10px;
} */
/* 是li，而不是ul:first-child？ */
/* .cloHead-right ul li:first-child {
  background: #00BE9A;
  padding: 3px 8px;
} */
.cloHead-right ul li a {
  padding: 3px 8px;
  border-radius: 5px;

  border: 2px solid #00BE9A;
}
.cloHead-right ul li a:hover {
  color: #fff;
  background-color: #00BE9A;
  /* padding: 3px 8px; 为了防止抖动，放进上面的 a 中！*/
}

/* 身体 */
.cloBody {
  display: flex;
  justify-content: space-between;
}

.cloBody-left {
  width: 248px;
  height: 610px;
}
.cloBody-right {
  display: flex;
  flex-wrap: wrap;
  width: 968px;
  height: 610px;
  
}
.cloBody-right li {
  width: 242px;
  height: 305px;
  padding: 10px 21px 0;

  border: 2px solid pink;
}
/* 需要让 a 撑满父盒子 */
.cloBody-right li a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 19px;

  border: 2px solid skyblue;
}
.cloBody-right li img {
  width: 200px;
  height: 180px;
}
.cloBody-right li h3 {
  font-size: 16px;
}
.cloBody-right li .price {
  /* font-size: 22px; 上面已有设置*/
  margin-top: 12px;
}

.news {
  margin-bottom: 60px;
}

/* 最新专题模块 */
.news ul {
  display: flex;
  gap: 12px;
}
.news ul li {
  flex: 1;
  height: 355px;
}
.news ul li img {
  width: 100%;
}
.news .con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 67px;
  padding: 0 15px;
  font-size: 14px;
  color: #666;
}
.news .con .like {
  margin-right: 20px;
}
