/* *按需修改common公共模块 */
/* sticky =》relative  */
.header {
  position: relative;
}

.footer {
  /* 贴合下部分空白（footer颜色为淡灰色） */
  height: 165px;
  /* background-color: pink; */
}

.footer .copyright {
  margin-top: 0;
  padding-top: 30px;
}

/* *专门针对登录页面的样式 */
main {
  height: 488px;
  background: url(../images/login-bg.png) no-repeat center/cover;
}

/* .wrapper 就是版心 .w */
main .w {
  position: relative;
  height: 100%;

  border: 2px solid skyblue;
}

main .w .box {
  position: absolute;
  top: 50%;
  right: 100px;
  width: 380px;
  padding: 20px 40px;
  background: #fff;
  box-shadow: 0px 0px 25px 0px rgba(3, 3, 3, 0.14);
  transform: translateY(-50%);
}

.box .tab-nav {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.box .tab-nav::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 8px;
  width: 1px;
  height: 20px;
  background: #17bb9b;
}

.box .tab-nav a {
  font-size: 18px;
  height: 35px;
  line-height: 35px;
}

.box .tab-nav a.active {
  border-bottom: 2px solid #17bb9b;
}

.tab-pane .input {
  position: relative;
  display: flex;
  width: 100%;
  height: 36px;
  margin-top: 24px;
  border: 1px solid #17bb9b;
}

.input .iconfont {
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  /* font-size: 20px; */
  /* border: 2px solid #17bb9b; */
}

/* 需要让[input]占据整个输入框.input，否则点击为占据部分无法聚焦 */
.box .tab-pane .input input {
  flex: 1;
  /* padding-left: 15px; */
  /* background: pink; */
}

.input input::placeholder {
  color: #B3B3B3 !important;
}

.link {
  margin-top: 24px;
  text-align: right;
}

.link a {
  color: #17bb9b;
}

.tab-pane .agree {
  padding: 24px 0;
  color: #B3B3B3;
}

.tab-pane .agree a {
  font-size: 14px;
  color: #0673B1;
}

.tab-pane .agree>label input:checked+span {
  color: #17bb9b;
}

.tab-pane .button .btnSubmit {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  margin-bottom: 16px;
  text-align: center;
  background: #17bb9b;
  color: #fff;
  font-size: 16px;
}

.button .else-btnSubmit {
  display: flex;
  justify-content: space-between;
} 

/* .qr-code 是一个img标签，需要转为block，才可以进行居中 */
.login .tab-pane .qr-code {
  display: block;
  max-width: 100%;
  margin: 44px auto;
}

/* 注册模块样式（与登录模块隔离） */
/* 区别于login的修改部分 */
.msg {
  color: #ff4d4f;
  position: absolute;
  right: 2px;
  bottom: -16px;
  font-size: 14px;
}

.register .input .send-code {
  position: absolute;
  top: 50%;
  right: 10px;
  color: #27BA9B;
  transform: translateY(-50%);
}

/* input 的 m-t 修改为 20px（原24px） */
.register .input {
  margin-top: 20px;
}

.register i {
  color: #27BA9B;
  font-size: 14px;
}

/* 小屏适配（简单示例）（未完成，应该使用Bootsrap框架？） */
@media (max-width:480px) {
  .main .w .box {
    right: 20px;
    width: 320px;
    padding: 16px
  }
}